
@font-face {
  font-family: 'Khmer UI';
  src: url('../fonts/KhmerUI.eot');
  src: url('../fonts/KhmerUI.eot?#iefix') format('embedded-opentype'),
  url('../fonts/KhmerUI.woff') format('woff'),
  url('../fonts/KhmerUI.ttf') format('truetype'),
  url('../fonts/KhmerUI.svg#KhmerUI') format('svg');
  font-weight: normal;
  font-style: normal;
}

