$bodyColor:#fafafa;
$leftMenuBG: #1d2c3f;
$fontFamily: 'Khmer UI';
$lightGray:#fbfbfb;
$menufontColor: #7b8695;
$border:#e7e7e7;
$active:#308190;
$currentSelect:#edb763;
$defaultFontColor: #88807a;
$primaryButton:#2196f3;
$accentButton:#00bcd4;
